<a href="https://colab.research.google.com/github/Luzius11/Youtube2023/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("nelgiriyewithana/global-youtube-statistics-2023")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/nelgiriyewithana/global-youtube-statistics-2023?dataset_version_number=1...

100%|██████████| 60.1k/60.1k [00:00<00:00, 11.4MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/nelgiriyewithana/global-youtube-statistics-2023/versions/1

In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/root/.cache/kagglehub/datasets/nelgiriyewithana/global-youtube-statistics-2023/versions/1'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/root/.cache/kagglehub/datasets/nelgiriyewithana/global-youtube-statistics-2023/versions/1/Global YouTube Statistics.csv

In [4]:
# to be able to see all columns in dataframe:
pd.set_option('display.max_columns', None)

#import Data
df = pd.read_csv('/root/.cache/kagglehub/datasets/nelgiriyewithana/global-youtube-statistics-2023/versions/1/Global YouTube Statistics.csv', encoding = 'latin-1')

In [5]:
df.head(50)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,1.0,1.0,2.258000e+09,564600.00,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,7670.0,7423.0,1.200000e+01,0.00,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1.0,1.0,1.348000e+09,337000.00,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,2.0,1.0,1.975000e+09,493800.00,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,2.0,2.0,1.824000e+09,455900.00,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,4057944.0,NaN,NaN,NaN,0.00,0.00,0.00,0.000000e+00,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,5.0,3.0,3.0,7.316740e+08,182900.00,2900000.00,2200000.00,3.510000e+07,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000,2.905804e+10,Gaming,PewDiePie,4716,Japan,JP,Entertainment,44.0,1.0,4.0,3.918400e+07,9800.00,156700.00,117600.00,1.900000e+06,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,630.0,5.0,25.0,4.894700e+07,12200.00,195800.00,146800.00,2.300000e+06,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
9,10,Vlad and Niki,98900000,7.718017e+10,Entertainment,Vlad and Niki,574,United States,US,Entertainment,8.0,5.0,6.0,5.805740e+08,145100.00,2300000.00,1700000.00,2.790000e+07,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
10,11,Zee Music Company,96700000,5.785629e+10,Music,Zee Music Company,8548,India,IN,Music,12.0,3.0,2.0,8.036130e+08,200900.00,3200000.00,2400000.00,3.860000e+07,1100000.0,2014.0,Mar,12.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
11,12,WWE,96000000,7.742847e+10,Sports,WWE,70127,United States,US,Sports,7.0,6.0,1.0,7.146140e+08,178700.00,2900000.00,2100000.00,3.430000e+07,600000.0,2007.0,May,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
12,13,Gaming,93600000,0.000000e+00,NaN,Gaming,0,NaN,NaN,Games,4057944.0,NaN,1.0,NaN,0.00,0.00,0.00,0.000000e+00,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
13,14,BLACKPINK,89800000,3.214460e+10,People & Blogs,BLACKPINK,543,South Korea,KR,Music,32.0,1.0,3.0,4.989300e+08,124700.00,2000000.00,1500000.00,2.390000e+07,700000.0,2016.0,Jun,29.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
14,15,Goldmines,86900000,2.411823e+10,Film & Animation,goldmines,1,NaN,NaN,Music,4056562.0,NaN,5663.0,1.800000e+01,0.00,0.07,0.05,8.600000e-01,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Sony SAB,83000000,1.010000e+11,Shows,Sony SAB,71270,India,IN,Entertainment,4.0,5.0,7.0,1.657000e+09,414300.00,6600000.00,5000000.00,7.960000e+07,1100000.0,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
16,17,5-Minute Crafts,80100000,2.623679e+10,Howto & Style,5-Minute Crafts 2.0,1,United Kingdom,GB,Entertainment,4057901.0,4797.0,6781.0,1.000000e+00,0.00,0.00,0.00,5.000000e-02,NaN,2020.0,Jul,27.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
17,18,BANGTANTV,75600000,2.082699e+10,Music,BANGTANTV,2281,South Korea,KR,Music,112.0,2.0,4.0,1.682900e+08,42100.00,673200.00,504900.00,8.100000e+06,400000.0,2012.0,Dec,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
18,19,Sports,75000000,0.000000e+00,NaN,sports,3,United States,US,Entertainment,3898122.0,6266.0,5395.0,1.600000e+01,0.00,0.06,0.05,7.700000e-01,NaN,2006.0,Jan,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
19,20,Justin Bieber,71600000,3.060812e+10,Music,Justin Bieber,249,Canada,CA,Music,38.0,1.0,6.0,1.763260e+08,44100.00,705300.00,529000.00,8.500000e+06,100000.0,2007.0,Jan,15.0,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771
20,21,HYBE LABELS,71300000,2.863457e+10,Music,HYBE LABELS,1337,South Korea,KR,Music,46.0,3.0,5.0,5.981730e+08,149500.00,2400000.00,1800000.00,2.870000e+07,900000.0,2008.0,Jun,4.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
21,22,Zee TV,70500000,7.313905e+10,Entertainment,Zee TV,129204,India,IN,Entertainment,9.0,6.0,8.0,1.707000e+09,426800.00,6800000.00,5100000.00,8.190000e+07,900000.0,2005.0,Dec,11.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
22,23,Pinkfong Baby Shark - Kids' Songs & Stories,68200000,3.884323e+10,Education,Pinkfong Baby Shark - Kids' Songs & Stories,2865,United States,US,Education,23.0,8.0,2.0,4.733870e+08,118300.00,1900000.00,1400000.00,2.270000e+07,600000.0,2011.0,Dec,14.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
23,24,Canal KondZilla,66500000,3.677559e+10,Music,Canal KondZilla,2572,Brazil,BR,Music,25.0,1.0,7.0,4.472230e+08,0.00,0.00,0.00,0.000000e+00,NaN,2012.0,Mar,21.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
24,25,ChuChu TV Nursery Rhymes & Kids Songs,65900000,4.575785e+10,Education,ChuChu TV Nursery Rhymes & Kids Songs,633,India,IN,Education,18.0,7.0,3.0,4.202920e+08,105100.00,1700000.00,1300000.00,2.020000e+07,500000.0,2013.0,Feb,9.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
25,26,Shemaroo Filmi Gaane,65600000,2.864802e+10,Music,Shemaroo Filmi Gaane,8502,India,IN,Music,47.0,8.0,8.0,2.549610e+08,63700.00,1000000.00,764900.00,1.220000e+07,400000.0,2010.0,Jun,11.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
26,27,Colors TV,64600000,6.151091e+10,Shows,Colors TV,112915,India,IN,Entertainment,10.0,9.0,9.0,1.188000e+09,296900.00,4800000.00,3600000.00,5.700000e+07,1100000.0,2008.0,Jun,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
27,28,T-Series Bhakti Sagar,61000000,2.953323e+10,Music,T- SERIES BHAKTI SAGAR,13,India,IN,Music,4053938.0,5803.0,5744.0,1.000000e+01,0.00,0.04,0.03,4.800000e-01,NaN,2018.0,Aug,3.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
28,29,Dude Perfect,59500000,1.624155e+10,Sports,Dude Perfect,389,United States,US,Sports,182.0,9.0,3.0,1.412000e+08,35300.00,564800.00,423600.00,6.800000e+06,100000.0,2009.0,Mar,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
29,30,Movieclips,59500000,5.931647e+10,Film & Animation,Movieclips,39113,United States,US,Film,11.0,9.0,3.0,1.146680e+08,28700.00,458700.00,344000.00,5.500000e+06,100000.0,2006.0,Apr,28.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
30,31,Tips Official,59300000,3.343180e+10,Music,Tips Official,4741,India,IN,Music,30.0,11.0,10.0,4.226340e+08,105700.00,1700000.00,1300000.00,2.030000e+07,600000.0,2007.0,May,22.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
31,32,El Reino Infantil,58400000,5.727163e+10,Music,El Reino Infantil,1510,Argentina,AR,Music,13.0,1.0,11.0,6.118280e+08,153000.00,2400000.00,1800000.00,2.940000e+07,600000.0,2011.0,Jun,2.0,90.0,4.493871e+07,9.79,41339571.0,-38.416097,-63.616672
32,33,Wave Music,58000000,4.060202e+10,Music,Wave Music,19487,India,IN,Music,21.0,12.0,12.0,2.320250e+08,58000.00,928100.00,696100.00,1.110000e+07,500000.0,2014.0,Oct,29.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
33,34,Aaj Tak,57600000,2.530775e+10,News & Politics,Aaj Tak,283775,India,IN,News,71.0,13.0,1.0,4.611480e+08,115300.00,1800000.00,1400000.00,2.210000e+07,500000.0,2009.0,Aug,27.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
34,35,Sony Music India,57200000,2.883714e+10,Music,Sony Music India,3882,India,IN,Music,45.0,14.0,13.0,2.593100e+08,64800.00,1000000.00,777900.00,1.240000e+07,300000.0,2009.0,Sep,2.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
35,36,EminemMusic,56900000,2.707387e+10,Music,EminemMusic,156,United States,US,Music,59.0,10.0,14.0,2.601930e+08,65000.00,1000000.00,780600.00,1.250000e+07,300000.0,2007.0,Feb,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
36,37,Marshmello,56400000,1.469600e+10,Entertainment,Marshmello,436,United States,US,Music,233.0,11.0,15.0,1.121000e+08,28000.00,448400.00,336300.00,5.400000e+06,100000.0,2015.0,Apr,6.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
37,38,YRF,54600000,3.530224e+10,Film & Animation,YRF,3707,India,IN,Music,28.0,15.0,16.0,5.120930e+08,128000.00,2000000.00,1500000.00,2.460000e+07,500000.0,2006.0,Jun,7.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
38,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,3.231243e+10,Music,LooLoo Kids - Nursery Rhymes and Children's ï¿½,11,NaN,NaN,NaN,3800129.0,NaN,NaN,1.590000e+02,0.04,0.64,0.48,8.000000e+00,NaN,2016.0,Nov,29.0,NaN,NaN,NaN,NaN,NaN,NaN
39,40,Ed Sheeran,53500000,3.036768e+10,Music,Ed Sheeran,383,United Kingdom,GB,Music,39.0,1.0,18.0,2.027200e+08,50700.00,810900.00,608200.00,9.700000e+06,100000.0,2006.0,Aug,8.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
40,41,Infobells - Hindi,53300000,3.051617e+10,Education,Infobells - Hindi,577,India,IN,Education,37.0,16.0,4.0,8.159490e+08,204000.00,3300000.00,2400000.00,3.920000e+07,1600000.0,2014.0,Jun,6.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
41,42,Taylor Swift,52900000,2.988466e+10,Music,Taylor Swift,216,United States,US,Music,40.0,13.0,19.0,5.283920e+08,132100.00,2100000.00,1600000.00,2.540000e+07,800000.0,2006.0,Sep,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
42,43,Ariana Grande,52700000,2.400484e+10,Music,Ariana Grande,147,United States,US,Music,78.0,14.0,20.0,1.602160e+08,40100.00,640900.00,480600.00,7.700000e+06,100000.0,2007.0,Jan,22.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
43,44,BillionSurpriseToys - Nursery Rhymes & Cartoons,52200000,9.877365e+09,Education,BillionSurpriseToys - Nursery Rhymes & Cartï¿½,847,United States,US,Education,450.0,15.0,5.0,2.667470e+08,66700.00,1100000.00,800200.00,1.280000e+07,600000.0,2013.0,Oct,25.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
44,45,JuegaGerman,48100000,1.463171e+10,Gaming,JuegaGerman,2052,Chile,CL,Games,237.0,1.0,2.0,6.638800e+07,16600.00,265600.00,199200.00,3.200000e+06,200000.0,2013.0,May,19.0,88.5,1.895204e+07,7.09,16610135.0,-35.675147,-71.542969
45,46,Billie Eilish,47900000,1.362633e+10,Music,Billie Eilish,65,United States,US,Music,263.0,16.0,21.0,1.468620e+08,36700.00,587400.00,440600.00,7.000000e+06,200000.0,2013.0,Feb,6.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
46,47,Get Movies,47500000,3.078868e+10,Entertainment,Get Movies,3322,Russia,RU,Film,35.0,1.0,4.0,3.065400e+08,76600.00,1200000.00,919600.00,1.470000e+07,700000.0,2006.0,Dec,16.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
47,48,Shemaroo,47400000,2.251971e+10,Entertainment,Shemaroo,11451,India,IN,Entertainment,97.0,17.0,10.0,2.327440e+08,58200.00,931000.00,698200.00,1.120000e+07,500000.0,2007.0,Sep,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
48,49,Badabun,46800000,1.939805e+10,Entertainment,badabun,1,NaN,NaN,Music,4047729.0,NaN,5525.0,4.400000e+02,0.11,2.00,1.00,2.100000e+01,75.0,2007.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
49,50,SonyMusicIndiaVEVO,46600000,2.728606e+10,Music,SonyMusicIndiaVEVO,3444,United States,US,Music,55.0,17.0,22.0,3.145050e+08,78600.00,1300000.00,943500.00,1.510000e+07,400000.0,2009.0,Sep,2.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [ ]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')